.highlight{

	background-color: #03A9F4;
	color: white;
    padding: 3px 5px;
    margin: -3px -5px;
    line-height: 1.7;
    border-radius: 3px;
    display:inline-block;
    font-size: 16px;
}
.app{

	background-color:white;
	font-size: 14px;
}
.error{

	font-weight: bold;
	color:red;
	font-size: 16px;
}