.highlight{

	background-color: #03A9F4;
	color: white;
    padding: 3px 5px;
    margin: -3px -5px;
    line-height: 1.7;
    border-radius: 3px;
    display:inline-block;
    font-size: 16px;
}
.app{

	background-color:white;
	font-size: 14px;
}
.error{

	font-weight: bold;
	color:red;
	font-size: 16px;
}
.highlightListElements{
	background-color : rgba(3,169,244,0.5);
	  padding: 3px 5px;
    margin: -3px -5px;
    line-height: 1.7;
    border-radius: 3px;
    display:inline-block;
    font-size: 16px;
}

#home{
top:30%;
position:absolute;
background: rgba(3, 169, 255, 0.1);
left:15%;
right:15%;
text-align: center;

}

ul {
    list-style-position: inside;
}

.charts{
    top:50px;
    position:relative;
}


/* Anmations */

.view-container {
  position: relative;
}


.view-frame.ng-enter {
  -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
  z-index: 100;
}

.view-frame.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index:99;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}