.highlight{

	background-color: #03A9F4;
	color: white;
    padding: 3px 5px;
    margin: -3px -5px;
    line-height: 1.7;
    border-radius: 3px;
    display:inline-block;
    font-size: 16px;
}
.app{

	background-color:white;
	font-size: 14px;
}
.error{

	font-weight: bold;
	color:red;
	font-size: 16px;
}
.highlightListElements{
	background-color : rgba(3,169,244,0.5);
	  padding: 3px 5px;
    margin: -3px -5px;
    line-height: 1.7;
    border-radius: 3px;
    display:inline-block;
    font-size: 16px;
}

#home{
top:30%;
position:absolute;
background: rgba(3, 169, 255, 0.1);
left:15%;
right:15%;
text-align: center;

}

ul {
    list-style-position: inside;
}

.charts{
    top:50px;
    position:relative;
}