<div>
		<br/>
		<md-button  class="md-raised md-primary" data-ng-model="comp" data-ng-click="comp=1">
			Component Diagram
		</md-button> 
		<md-button  class="md-raised md-primary" data-ng-model="comp" data-ng-click="comp=0">
			Flow Chart
		</md-button>


	<div style="left:15%;height:75%;position:relative;width:70%;" data-ng-show="comp==1">
		<center><label>Component Diagram</label></center>
		<md-content>
		<md-card>

		<img src="img/components.png" alt="Washed Out" style="display:block;margin:0 auto;height:100%;width:auto; ">
		</md-card>
		</md-content>
	</div>

	<div style="display:table-cell;vertical-align:middle;" data-ng-show="comp==0">
		<center><label>Flow Chart</label></center>
		<md-content>
		<md-card>

		<img src="img/flowchart.png" alt="Washed Out" style="display:block;margin:0 auto;width:100%;height:auto; ">
		</md-card>
		</md-content>
	</div>

</div>
<!--
<div style="left:5%;width:90%;position:relative;top:20px;;bottom:30px;">
	<img src="img/flowchart.png" style="max-width:100%;height:auto;"/>
</div>

-->