<html data-ng-app="wsd">
<head>

	<!-- Include jquery -->
	<script src="../bower_components/jquery/dist/jquery.min.js"></script>

	<!-- Include the angular Material css -->
	<link rel="stylesheet" href="../bower_components/angular-material/angular-material.css">

	<!-- Twitter Bootstrap css -->
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">

	<link rel="stylesheet" href="css/app.css">

	<!-- Set a Material Theme -->
	<link rel="stylesheet" href="../bower_components/angular-material/themes/amber-theme.css">
	<script src="../bower_components/angular/angular.js"></script>

	<!-- Material Design for Bootstrap -->
	<link href="../bower_components/bootstrap-material-design/dist/css/material-wfont.min.css" rel="stylesheet">
	<link href="../bower_components/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">

	<!-- Jquery -->
	<script src="../bower_components/jquery/dist/jquery.js"></script>

	<!-- Some customized scripts -->
	<script type="text/javascript" src="js/wordclick.js"></script>

	<!-- angular ui-route script -->
	<script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

	<script src="../bower_components/angular-animate/angular-animate.js"></script>
	<script src="../bower_components/angular-aria/angular-aria.js"></script>
	<script src="../bower_components/hammerjs/hammer.js"></script>
	<script src="../bower_components/angular-material/angular-material.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>

</head>

<body style="background-color:white;">

	<md-toolbar>
	<div class="md-toolbar-tools">
		<span class="md-flex"> Word Sense Disambiguation </span>
	</div>
</md-toolbar>



<md-content layout-align="center">
<div data-ng-controller="inputController" style="top:10%;position:relative; left:10%;width:80%">

			<!--<md-text-float label="Please enter the sentence" data-ng-model="sentence" style="width:300px !important;"></md-text-float>
				{{sentence}}
			
			
				<md-text-float label="Window Size (neighboring words to be considered)" data-ng-model="win_size"></md-text-float> -->
				
				<label style="top:10px;position:absolute;"> Enter input sentence </label><br/><br/>


				<textarea  style="width:500px" name="text" data-ng-model="sentence" data-ng-minlength="1" required></textarea> <md-button data-ng-click="tokenize()"  class="md-raised md-primary" data-ng-disabled="sentence.length < 1"> Tokenize </md-button>
				<div data-ng-model="isProgress" data-ng-show= "isTokenLoading==1">
						<md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
					</div>
				<br/><br/>

				<div data-ng-show="tokens.length > 0">
					<label > Click the target word from the following tokens </label><br/>
					<nobr>
					<div data-ng-repeat="token in tokens">
						<div data-ng-click="setIndex(token.index,token.word)">{{token.word}}</div>
					</div>
				</nobr>
				</div>


			
				
				<br/>

				<!-- Target Word -->
				<div data-ng-show="targetWord.length > 0">
					<label>Target Word:</label> {{targetWord}}
				</div><br/>

				<!-- Algorithm name -->
				<div style="height:100px;position:realtive">
					<div style="float:left;width:33%;position:relative;">
				<label>Algorithm Name </label><br/>
				<select data-ng-model="algorithm">
					<option value="lesk">Lesk</option>
					<option value="extLesk">Extended Lesk</option>
					<option value="extLeskCont">Extended Contextual Lesk</option>
				</select>
			</div>
			<div data-ng-show="algorithm != 'extLesk'">
			<div style="float:left;width:25%;position:relative;">
				<label>Forward Window Size : </label> &nbsp;{{fWindow}} <br/>
				
		<md-slider flex min="0" max="20" aria-label="blue" data-ng-model="fWindow">
			</div>

			<div style="float:right;width:25%;position:relative;">
				<label>Backward Window Size : </label> &nbsp;{{bWindow}} <br/>
				
		<md-slider flex min="0" max="20" aria-label="blue" data-ng-model="bWindow">
			</div>
		</div>
			</div>

				<!--Progress bar -->
				<center>
					<div data-ng-model="isProgress" data-ng-show= "isProgress==1">
						<md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
					</div>
				</center>

				<br/><br/>

				<div data-ng-show="algorithm =='extLesk' || algorithm =='extLeskCont'">
					<div style="height:245px;position:relative">
					<div style="float:left;width:33%;position:relative;">

						<label> Select to include the following </label>

					

						<md-checkbox data-ng-model="synonyms">
						Synonyms 
					</md-checkbox>
					<md-checkbox  data-ng-model="hypernyms">
					Hypernyms
				</md-checkbox>
				<md-checkbox  data-ng-model="hyponyms">
				Hyponyms
			</md-checkbox>
			<md-checkbox  data-ng-model="holonyms">
			Holonyms
		</md-checkbox>
		<md-checkbox data-ng-model="meronyms">
		Meronyms
	</md-checkbox>

</div>

<div style="float:left;width:33%;top:25%;position:relative;">
	<label> Depth Value
		<select data-ng-model="depthValue">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</select> &nbsp;
		
	</div>

	<div style="float:left;width:33%;top:25%;position:relative;">
		<label>Depth Factor (X)<sup>level : </label> &nbsp;{{depthFactor/10}}
		<md-slider flex min="1" max="10" aria-label="blue" data-ng-model="depthFactor">
</md-slider>
	</div>
	
</div>
</div>

<center>

	<md-button data-ng-click="getSensesAndScores()"  class="md-raised md-primary"> Submit </md-button>
</center>

<!-- Section for printing result -->

<md-list data-ng-repeat="item in sensesscores  | orderBy:'score':true">
<md-item-content>
<div class="md-tile-content">
	{{item.sense}}
</div>
<div class="md-tile-left">
	{{item.score}}
</div>
</md-item-content> 





</div>
</div>
</md-content>




</body>


</html>